<h3>Recent Galleries</h3>

<ul class="large-block-grid-2">
  <% @recent_galleries.each do |gallery| %>
    <% if gallery.images.size > 0 %>
      <li>
          <ul data-orbit>
            <% gallery.images.each do |image| %>
              <li>
                <%= link_to image_tag(image.attachment(:large)), gallery_path(gallery) %>
                <div class="orbit-caption">
                  <%= gallery.name %>
                </div>
              </li>
            <% end %>
          </ul>
      </li>
    <% end %>
  <% end %>
</ul>
