<h3>Recent Galleries</h3>

<div class="row">
<% @recent_galleries.each do |gallery| %>
  <% if gallery.images.size > 0 %>
    <ul data-orbit>
      <% gallery.images.each do |image| %>
        <li><%= image_tag image.attachment(:large) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</div>
